# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [24]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
import json
config = json.load(open("../config.json"))

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [25]:
# Input File (CSV)
input_data_file = "../WeatherPy/output_data/cities.csv"

csv_file = pd.read_csv(input_data_file, 
                       names='City Lat Lng Max_Temp Humidity Cloudiness Wind_Speed Country Date'.split(), 
                       dtype={"Date": object})

df = pd.DataFrame(csv_file)
# Drop np.nan values and reset index
df.dropna(inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
0,newport,51.5877,-2.9984,35.01,76.0,73.0,23.73,GB,1612739420
1,punta arenas,-53.1500,-70.9167,69.80,28.0,0.0,6.91,CL,1612739622
2,rikitea,-23.1203,-134.9692,77.63,72.0,90.0,13.13,PF,1612739622
3,ilulissat,69.2167,-51.1000,19.40,49.0,0.0,24.16,GL,1612739485
4,busselton,-33.6500,115.3333,63.00,99.0,87.0,1.99,AU,1612739623

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [33]:
# Configure gmaps with API key
gmaps.configure(api_key=config['g_key'])

# Create the heatmap_layer
locations = df[['Lat', 'Lng']]
weights = df['Humidity']
heatmap_layer = gmaps.heatmap_layer(locations, weights, max_intensity=df['Humidity'].max())

# Add the heatmap_layer to fig
fig = gmaps.figure()
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [97]:
# Narrowing down the DataFrame
df_narrowed = df[
    ((df['Max_Temp'] > 75.5) & (df['Max_Temp'] < 80)) &
    (df['Wind_Speed'] < 10) & 
    (df['Cloudiness'] == 0)
]
df_narrowed

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date
60,gambela,8.2500,34.5833,76.32,24.0,0.0,2.39,ET,1612739650
266,ballitoville,-29.5390,31.2144,75.99,88.0,0.0,1.14,ZA,1612739754
408,san lorenzo,-25.3333,-57.5333,77.00,65.0,0.0,2.30,PY,1612739555
461,pozo colorado,-23.4923,-58.7972,77.05,48.0,0.0,6.53,PY,1612739851
477,coihaique,-45.5752,-72.0662,77.00,29.0,0.0,9.22,CL,1612739816

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [147]:
# Create df_hotel DataFrame
df_hotel = df_narrowed.copy().reset_index(drop=True)
df_hotel['Hotel Name'] = ""
df_hotel['Country'] = ""
df_hotel

,City,Lat,Lng,Max_Temp,Humidity,Cloudiness,Wind_Speed,Country,Date,Hotel Name
0,gambela,8.2500,34.5833,76.32,24.0,0.0,2.39,,1612739650,
1,ballitoville,-29.5390,31.2144,75.99,88.0,0.0,1.14,,1612739754,
2,san lorenzo,-25.3333,-57.5333,77.00,65.0,0.0,2.30,,1612739555,
3,pozo colorado,-23.4923,-58.7972,77.05,48.0,0.0,6.53,,1612739851,
4,coihaique,-45.5752,-72.0662,77.00,29.0,0.0,9.22,,1612739816,

In [148]:
# Parameters
params = {
    'key': config['g_key'],
    'keyword': "Hotel",
    'radius': 5000,
}

url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# Iterrows
for index, row in df_hotel.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    params.update({
        'location': f"{lat},{lng}"
    })
    response = requests.get(url, params).json()
    df_hotel.loc[index, 'Hotel Name'] = response['results'][0]['name']
    df_hotel.loc[index, 'Country'] = response['results'][0]['plus_code']['compound_code'].split()[-1]

df_hotel = df_hotel[['Hotel Name', 'Country', 'City', 'Lat', 'Lng', 'Humidity']]

In [149]:
df_hotel

,Hotel Name,Country,City,Lat,Lng,Humidity
0,"Grand Resort And Spa,Gambella",Ethiopia,gambela,8.2500,34.5833,24.0
1,Zimbali Lodge,Africa,ballitoville,-29.5390,31.2144,88.0
2,Factoria Hotel,Paraguay,san lorenzo,-25.3333,-57.5333,65.0
3,Hotel Marriot ⭐️⭐️⭐️⭐️,Paraguay,pozo colorado,-23.4923,-58.7972,48.0
4,Hostal Casa Arrayan,Chile,coihaique,-45.5752,-72.0662,29.0

In [150]:
# Testing Hotel Name response
response['results'][0]['name']

'Hostal Casa Arrayan'

In [151]:
# Testing Hotel Country response
response['results'][0]['plus_code']['compound_code'].split()[-1]

'Chile'

In [152]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in df_hotel.iterrows()]
locations = df_hotel[["Lat", "Lng"]]

In [159]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Display figure
fig = gmaps.figure()
fig.add_layer(heatmap_layer)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))